<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Disney</title>
</head>
<body>
    <h1 style="text-align: center;" >INICIO</h1>
    <ul>
        <li><a th:href="@{/register}">Registrarse</a></li>
        <li><a href="#">Login</a></li>
    </ul>
    <ul>
        <li><a th:href="@{/characters/form}">Crear Personaje</a></li>
        <li><a th:href="@{/characters}">Lista Personajes</a></li>
        <li><a th:href="@{/movies/form}">Crear Pelicula</a></li>
        <li><a th:href="@{/movies}">Lista Peliculas</a></li>
    </ul>
</body>
</html>
